.b-social {
  margin: 0 auto;
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin: 0 16px 0 0;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  a:hover {
    svg {
      fill: #ffffff;
    }
  }

  svg {
    fill: rgba(#ffffff, .3);
    width: 24px;
    transition: fill ease-out $animation-duration;
  }
}
