---
import { getTitleFromFile, cleanMarkdown, shortString } from "../helpers/notes";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import MainTitle from "../components/MainTitle.astro";

import { getCollection } from "astro:content";

const notes = (
  await getCollection(
    "notes",
    (entry) =>
      entry.data.status === "draft" || entry.data.status === "published",
  )
).sort((a, b) => b.data.modified.getTime() - a.data.modified.getTime());
---

<Layout title="Notes">
  <MainTitle>Notes</MainTitle>

  <Prose>
    <p>
      Here's some of my notes, with the ones I modified recently on the top.
      Some of them are <strong>drafts</strong>, but in any case, I'm not sure
      about anything so don't take them seriously.
    </p>

    {
      notes.length == 0 && (
        <p class="text-gray-500 dark:text-gray-400">
          Uh oh, there's no notes :(
        </p>
      )
    }

    {
      notes.length > 0 && (
        <ul class="space-y-8">
          {notes.map((note) => (
            <li>
              <div class="mb-2">
                <a href={`/notes/${note.slug}`}>{note.id}</a>
                <span class="text-gray-500 dark:text-gray-400">
                  {note.data.status == "draft" && "(Draft)"}
                  &mdash; Updated on{" "}
                  {note.data.modified.toISOString().split("T")[0]}
                </span>
              </div>
              <div>{shortString(cleanMarkdown(note.body))}</div>
            </li>
          ))}
        </ul>
      )
    }
  </Prose>
</Layout>
