---
import Layout from "../layouts/Layout.astro";
import MainTitle from "../components/MainTitle.astro";
import SecondaryTitle from "../components/SecondaryTitle.astro";
import Prose from "../components/Prose.astro";
import PastEntry from "../components/PastEntry.astro";

import { getCollection } from "astro:content";

const logEntries = await getCollection("log", ({ id }) => {
	return /^\d{4}-\d{2}-\d{2}\.md$/.test(id);
}).then((entries) =>
	entries.sort(
		(a, b) => new Date(b.id.split(".")[0]) - new Date(a.id.split(".")[0]),
	),
);

const lastEntry = logEntries.shift();
const { Content } = await lastEntry.render();

// Divide in sections
// Watching
// Reading
// Playing
//
// The other sections are updated every new deploy.
---

<Layout title="Now">
	<MainTitle>Now</MainTitle>

	<Prose>
		<div class="mb-10 sm:mb-16">
			<h3>
				Updated on {lastEntry.data.date}{
					lastEntry.data.location && `, from ${lastEntry.data.location}`
				}
			</h3>
			<Content />
		</div>

		<SecondaryTitle>Past entries</SecondaryTitle>

		<ul class="space-y-10">
			{
				logEntries.map((entry) => (
					<li>
						<PastEntry entry={entry} />
					</li>
				))
			}
		</ul>
	</Prose>
</Layout>
