---
import Tag from "./Tag.astro";
---

<h3 class="font-bold mb-4">Buzzwords</h3>

<div class="flex flex-wrap gap-2">
	<Tag type="language">HTML</Tag>
	<Tag type="language">CSS</Tag>
	<Tag type="language">JavaScript</Tag>
	<Tag type="service">Design Systems</Tag>
	<Tag type="library">React</Tag>
	<Tag type="library">TailwindCSS</Tag>
	<Tag type="library">Next.js</Tag>
	<Tag type="library">Astro</Tag>
	<Tag type="library">Eleventy</Tag>
	<Tag type="language">SCSS</Tag>
	<Tag type="library">Prisma</Tag>
	<Tag type="library">Framer Motion</Tag>
	<Tag type="language">Ruby</Tag>
	<Tag type="library">View Components</Tag>
	<Tag type="library">Stimulus</Tag>
	<Tag type="service">Figma</Tag>
	<Tag type="service">Adobe Photoshop</Tag>
</div>
