<div
	class="prose prose-headings:mb-4 prose-p:my-6 prose-a:border-b-2 prose-a:border-orange-300 prose-a:font-semibold prose-a:no-underline dark:prose-invert dark:prose-a:border-green-400 max-w-none prose-headings:text-base prose-headings:font-bold"
>
	<slot />
</div>
