.b-footer {
  background: #222222;
  text-align: center;
  color: #ffffff;
  padding: 40px 0 48px;

  @media (min-width: $screen-sm) {
    padding: 56px 0 64px;
  }
}

.b-footer__name {
  margin: 0 0 4px;
}

.b-footer__trusted {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 1px;
  color: #888888;
  margin: 0;
  font-size: 13px;
}

.b-footer__social {
  margin: 0 auto 16px;
}
