.b-meaning {
  padding: 40px 0 48px;

  @media (min-width: $screen-sm) {
    padding: 32px 0 72px;
  }
}

.b-meaning__blockquote {
  padding: 0;
  margin: 0;
}

.b-meaning__text {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  max-width: 740px;
  line-height: 1.4;
  margin: 0 auto;

  @media (min-width: $screen-sm) {
    font-size: 24px;
  }

  @media (min-width: $screen-md) {
    font-size: 28px;
  }
}

.b-meaning__author {
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 16px 0 0;
  color: $color-muted;
}
