.h-gradient-text {
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h-gradient--1 {
  background-image: $gradient-1;
}

.h-gradient--2 {
  background-image: $gradient-2;
}

.h-gradient--3 {
  background-image: $gradient-3;
}
