body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 24px;

  @media (min-width: $screen-sm) {
    padding: 0 32px;
  }
}

a {
  color: $color-purple;
}
