@import "../../node_modules/normalize.css/normalize.css";

$container-width: 1100px;

$color-purple: #ac0eac;
$color-red: #eb2a33;
$color-orange: #ff9d02;

$color-blue: #008aff;
$color-green: #00d88e;

$color-muted: #888888;

$gradient-1: linear-gradient(45deg, $color-purple, $color-orange);
$gradient-2: linear-gradient(45deg, $color-blue, $color-green);

$animation-duration: 200ms;


@mixin background-cover($url, $color) {
  background-image: url($url);
  background-color: $color;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@import "components/social";

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  // background: #242424;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.b-header {
  max-width: $container-width;
  margin: 0 auto;
  padding: 32px 0 24px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.b-header__title {
  font-size: 18px;
  margin: 0;
}

.b-header__contact-me {
  background: linear-gradient(45deg, $color-purple, $color-red);
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px 8px 16px;
  margin-left: 24px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.b-header__social {
  margin-left: 24px;
}

.b-hero {
  background-color: #120a33;
  color: #ffffff;
  font-size: 0;
  position: relative;

  @include background-cover('../../static/hero_bg.jpg', #120a33);
}

.b-hero__tag {
  display: flex;
  align-items: center;
  height: 600px;
}

.b-hero__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 38px;
  max-width: 500px;
  line-height: 1.4;
  color: #d4cbe8;

  strong {
    position: relative;
    color: #ffffff;

    &::before {
      content: '';
      background: rgba($color-purple, .5);
      background: linear-gradient(45deg, $color-purple, $color-orange);
      height: 4px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-radius: 2px;
    }
  }
}

.b-hero__a-what {
  display: inline-block;
  position: absolute;
  right: -95px;
  font-size: 14px;
  background: rgba($color-purple, .5);
  padding: 4px 8px;
  border-radius: 5px;
  top: 14px;
}

.b-hero__wave {
  position: absolute;
  bottom: 0;
  height: 100px;
  // Here change to less height on mobile
}

.b-meaning {
  padding: 32px 0 72px;
}

.b-meaning__blockquote {
  padding: 0;
  margin: 0;
}

.b-meaning__text {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  max-width: 740px;
  line-height: 1.4;
  margin: 0 auto;
}

.b-meaning__author {
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 16px 0 0;
  color: $color-muted;
}

.h-gradient-text {
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h-gradient--1 {
  background-image: $gradient-1;
}

.h-gradient--2 {
  background-image: $gradient-2;
}

.b-skills {
  background: #f8f8f8;
  padding: 56px 0 72px;
}

.b-skills__title {
  font-size: 32px;
  text-align: center;
  margin: 0 0 40px;
  color: #444444;

  &:after {
    display: block;
    height: 2px;
    border-radius: 1px;
    background: #dcdcdc;
    width: 80px;
    margin: 8px auto 16px;
    content: '';
  }
}

.b-skills__list {
  display: flex;
}

.b-skill {
  background: #ffffff;
  box-shadow: 0 0 24px 0 rgba(#000000, .03);
  border-radius: 10px;
  padding: 40px 32px;
  margin: 0 16px;
  max-width: 300px;
  width: 100%;
}

.b-skill__icon {
  max-width: 48px;
  fill: $color-muted;
  margin: 0 0 16px;
}

.b-skill__title {
  font-size: 23px;
  margin: 0 0 8px;
}

.b-skill__text {
  margin: 0 0 8px;
}

.b-skill__footer {
  font-size: 13px;
  font-family: "Fira Mono", monospace;
  color: $color-muted;
  margin: 16px 0;
}

.b-about-me {
  padding: 56px 0 72px;
}

.b-about-me__title {
  margin: 0 0 8px;
  font-size: 32px;
}

.b-about-me__subtitle {
  color: $color-muted;
  margin: 0 0 24px;
  font-weight: 500;
}

.b-contact {
  background: linear-gradient(45deg, $color-purple, $color-red);
  padding: 140px 0 72px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.b-contact__wave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.b-contact__title {
  margin: 0 0 8px;
  font-size: 32px;
}

.b-contact__text {
  margin: 0 auto 32px;
  max-width: 340px;
  font-weight: 500;
}

.c-btn {
  padding: 0 32px;
  height: 56px;
  display: inline-flex;
  border-radius: 28px;
  align-items: center;
  margin:  0 auto;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(45deg, $color-red, $color-orange);
  // box-shadow: inset 0 0 0 2px #ffffff;
}

.b-footer {
  background: #222222;
  padding: 56px 0 64px;
  text-align: center;
  color: #ffffff;
}

.b-footer__name {
  margin: 0 0 4px;
}

.b-footer__trusted {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 1px;
  color: #888888;
  margin: 0;
  font-size: 13px;
}

.b-footer__social {
  margin: 0 auto 16px;
}
