---
import { Seo } from "astro-seo-meta"
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer"

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Seo
      title={title}
      description="UX Engineer and frontend developer focused on Design Systems with HTML, CSS and JavaScript."
      icon="/favicon.ico"
    />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=optional" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="font-body text-gray-800 transition-colors dark:bg-gray-800 dark:text-gray-400">
    <slot />
  </body>
</html>
